@import './utils/variables';
@import './utils/placeholders';
@import './utils/fonts';
@import './utils/common';

@import './components/cup-lightbox';
@import './components/button-close';
@import './components/button-watch-video';
@import './components/button-play';
@import './components/cup-hoist';
@import './components/confetti';
@import './components/transition';
@import './components/teams';
@import './components/video-lightbox';
