h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: currentColor;
}

.page {
  min-height: 100vh;
  font-family: $main-font;
  color: $text-color;
  background-image: url(../images/bg-desktop.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  overflow-y: overlay;

  &.lightbox-open {
    overflow: hidden;
  }
}
