// Fonts
$main-font: 'DINNextLTPro';

//  Text Colors
$text-color: #000000;
$white-text-color: #ffffff;

//  Background Colors
$bg-color: #ffffff;
$dark-bg-color: #000000;
$accent-bg-color: #d0ad68;
$backdrop-color: rgba(0, 0, 0, 0.6);

// Shadows
$slogan-drop-shadow: drop-shadow(6.691px 7.431px 16px $dark-bg-color);
$button-video-shadow: drop-shadow(0.209px 1.989px 1.5px rgba(0, 0, 0, 0.75));

//  Animation
$animation: 600ms cubic-bezier(0.4, 0, 0.2, 1);
$cup-hoist-animation: 2000ms cubic-bezier(0.4, 0, 0.2, 1);
$transition__bg-show: 2000ms ease-in 4400ms;
$transition__bg-hide: 2000ms ease-in;
$slogan-animation: 600ms cubic-bezier(0.4, 0, 0.2, 1);
$slogan-animation-hide: 400ms cubic-bezier(0.4, 0, 0.2, 1);
$logo-animation: 600ms ease-in;
