//  Button watch video
.btn-video {
  position: fixed;
  z-index: 2;

  top: 50%;
  right: 0px;
  transform: translateY(calc(-50% - 21.4vw));

  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: $white-text-color;
  background-color: transparent;
  border: none;
  outline: none;
  filter: $button-video-shadow;
  cursor: pointer;

  @include respond-above($tablet) {
    right: 10px;
    font-size: 30px;
    font-weight: 800;
  }

  @include respond-above(1519px) {
    right: 50%;
    transform: translate(calc(50% + 640px), calc(-50% - 335px));
  }

  .basicLightbox--visible.teams-is-hidden & {
    display: none;
  }
}

.btn-video__circle {
  @extend %flexCenter;
  width: 109px;
  height: 109px;
  margin-bottom: 14px;
  border: 3px solid $bg-color;
  border-radius: 50%;

  @include respond-below($tablet) {
    max-width: 70px;
    max-height: 70px;
    border-width: 1px;
  }
}

.btn-video__circle-inner {
  @extend %flexCenter;
  width: 88px;
  height: 88px;
  background-color: $backdrop-color;
  border: 5px solid $bg-color;
  border-radius: 50%;

  @include respond-below($tablet) {
    max-width: 60px;
    max-height: 60px;
    border-width: 3px;
  }
}

.btn-video__icon {
  width: 39px;
  height: 39px;
  transform: rotate(0);
  transition: transform $animation;

  @include respond-below($tablet) {
    width: 24px;
    height: 24px;
  }

  .video-is-open & {
    transform: rotate(135deg);
  }
}

.button-video__text {
  opacity: 1;
  transition: opacity $animation;

  .video-is-open & {
    opacity: 0;
    pointer-events: none;
  }
}
