.basicLightbox {
  display: block;
  background: transparent;
  z-index: 100;
}

.basicLightbox__placeholder,
.basicLightbox--visible .basicLightbox__placeholder {
  height: 100vh;
  transform: none;
}
