//  Lightbox Button close
.btn-close {
  position: fixed;
  z-index: 5;
  top: 10px;
  right: 14px;
  width: 52px;
  height: 52px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid $bg-color;
  border-radius: 50%;
  cursor: pointer;
}

.btn-close__circle {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px solid $bg-color;
  border-radius: 50%;
}

.btn-close__icon {
  transform: rotate(45deg);
}
