//  Teams Frame
.teams {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(
      circle at 63.2vw center,
      transparent,
      $dark-bg-color 50vw
    ),
    url('../images/bg-cup.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  overflow: hidden;

  .teams-is-hidden & {
    display: none;
  }
}

.triangle-black {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 63.2vw solid $dark-bg-color;
  border-right: 63.2vw solid transparent;

  @include respond-below($wide-desktop) {
    border-top-width: 75vw;
    border-right-width: 75vw;
  }

  @include respond-below($desktop) {
    border-top-width: 90vw;
    border-right-width: 90vw;
  }
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 1.8vw;
  padding-bottom: 1.8vw;
  padding-left: 1.6vw;
}

.teams-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;
  font-weight: 800;
  font-size: 83px;
  text-transform: uppercase;

  @include respond-below($desktop) {
    font-size: 67px;
  }

  @include respond-below($tablet) {
    font-size: 36px;
  }

  @include respond-below($mobile) {
    font-size: 26px;
  }

  & span {
    height: 83px;
    padding-left: 6px;
    padding-right: 64px;
    margin-right: auto;
    margin-bottom: 12px;
    background-color: $bg-color;

    @include respond-below($desktop) {
      height: 67px;
    }

    @include respond-below($tablet) {
      height: 36px;
    }

    @include respond-below($mobile) {
      height: 26px;
    }
  }
}

.date {
  margin-bottom: 26px;
  font-size: 47px;
  font-weight: 500;
  color: $white-text-color;

  @include respond-below($desktop) {
    font-size: 30px;
  }

  @include respond-below($tablet) {
    font-size: 24px;
  }
}

.date__super {
  margin-right: 16px;
  font-size: 26px;
  vertical-align: super;

  @include respond-below($tablet) {
    font-size: 20px;
  }
}

.decor {
  display: inline-block;
  width: 6px;
  height: 36px;
  margin-right: 16px;
  background-color: $accent-bg-color;
}

.time {
  font-weight: 800;
}

.tune-in {
  width: 566px;
  margin-bottom: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include respond-below($tablet) {
    max-width: 366px;
  }

  & span {
    display: block;
    font-size: 50px;
    font-weight: 400;
    text-transform: uppercase;
    color: $accent-bg-color;

    @include respond-below($tablet) {
      font-size: 30px;
    }

    &.tune-in__plus {
      font-size: 40px;
      font-weight: 700;
    }
  }
}

.logo-cup {
  margin-top: auto;
}
