.transition {
  position: fixed;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

.transition__bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: transform $transition__bg-hide;

  &--left {
    left: 0;
    background-image: url('../images/bg-portland.png');
    transform: translateX(-100vw);
  }

  &--right {
    right: 0;
    background-image: url('../images/bg-dallas.png');
    transform: translateX(100vw);
  }

  .basicLightbox--visible.teams-is-hidden & {
    transform: translateX(0);
    transition: transform $transition__bg-show;
  }
}

.logo {
  position: absolute;
  top: 28vh;
  opacity: 0;
  transform: scale(2.5);
  transition: opacity $logo-animation 7800ms, transform $logo-animation 8000ms;

  &--portland {
    left: 9.2vw;
  }

  &--dallas {
    right: 9.2vw;
  }

  .basicLightbox--visible & {
    opacity: 1;
    transform: scale(1);
  }
}

.slogan {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @extend %flexCenter;
  flex-direction: column;

  font-weight: 800;
  line-height: 0.8;
  text-transform: uppercase;
  color: $white-text-color;
  filter: $slogan-drop-shadow;
  opacity: 0;
  transition: opacity $slogan-animation-hide;

  .basicLightbox--visible.teams-is-hidden & {
    opacity: 1;
  }
}

.one {
  font-size: 308px;
  opacity: 0;

  .basicLightbox--visible & {
    opacity: 1;
    transition: opacity $slogan-animation 5000ms;
  }
}

.game {
  font-size: 218px;
  opacity: 0;

  .basicLightbox--visible & {
    opacity: 1;
    transition: opacity $slogan-animation 6000ms;
  }
}

.glory {
  font-size: 128px;
  opacity: 0;

  .basicLightbox--visible & {
    opacity: 1;
    transition: opacity $slogan-animation 7000ms;
  }
}
