.transition {
  position: fixed;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

.transition__bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: transform $transition__bg-hide;

  &--left {
    left: 0;
    background-image: url('../images/bg-portland.png');
    transform: translateX(-100vw);
  }

  &--right {
    right: 0;
    background-image: url('../images/bg-dallas.png');
    transform: translateX(100vw);
  }

  .basicLightbox--visible.teams-is-hidden & {
    transform: translateX(0);
    transition: transform $transition__bg-show;
  }
}

.logo {
  position: absolute;
  top: 40vh;
  width: 68px;
  height: 68px;
  opacity: 0;
  transform: scale(2.5);
  transition: opacity $logo-animation 9200ms, transform $logo-animation 9400ms;

  @include respond-above($tablet) {
    width: 120px;
    height: 120px;
  }

  @include respond-above($desktop) {
    top: 28vh;
    width: 200px;
    height: 200px;
  }

  @include respond-above($wide-desktop) {
    width: 403px;
    height: 403px;
  }

  &--portland {
    left: 9.2vw;
  }

  &--dallas {
    right: 9.2vw;
  }

  .basicLightbox--visible & {
    opacity: 1;
    transform: scale(1);
  }
}

.slogan {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @extend %flexCenter;
  flex-direction: column;
  font-weight: 800;
  line-height: 0.8;
  text-transform: uppercase;
  color: $white-text-color;
  filter: $slogan-drop-shadow;
  opacity: 0;
  transition: opacity $slogan-animation-hide;

  .basicLightbox--visible.teams-is-hidden & {
    opacity: 1;
  }
}

.one {
  font-size: 72px;
  opacity: 0;

  @include respond-above($tablet) {
    font-size: 155px;
  }

  @include respond-above($desktop) {
    font-size: 208px;
  }

  @include respond-above($wide-desktop) {
    font-size: 308px;
  }

  .basicLightbox--visible & {
    opacity: 1;
    transition: opacity $slogan-animation 6400ms;
  }
}

.game {
  font-size: 51px;
  opacity: 0;

  @include respond-above($tablet) {
    font-size: 110px;
  }

  @include respond-above($desktop) {
    font-size: 146px;
  }

  @include respond-above($wide-desktop) {
    font-size: 218px;
  }

  .basicLightbox--visible & {
    opacity: 1;
    transition: opacity $slogan-animation 7400ms;
  }
}

.glory {
  font-size: 30px;
  opacity: 0;

  @include respond-above($tablet) {
    font-size: 65px;
  }

  @include respond-above($desktop) {
    font-size: 86px;
  }

  @include respond-above($wide-desktop) {
    font-size: 128px;
  }

  .basicLightbox--visible & {
    opacity: 1;
    transition: opacity $slogan-animation 8400ms;
  }
}
