.video-overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $backdrop-color;
  opacity: 0;
  pointer-events: none;
  transition: opacity $animation;
  overflow-y: scroll;

  .video-is-open & {
    opacity: 1;
    pointer-events: initial;
  }
}

.video-box {
  position: absolute;
  top: 44vh;
  left: 50%;
  transform: translate(-50%, 0);
  width: 1188px;
  max-width: calc(100% - 100px);

  @include respond-above($tablet) {
    max-width: calc(100% - 240px);
  }

  @include respond-above(1428px) {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
